extends base

block content
  div(class="container")

    div.row
      table(class="table table-sm build-list")
        thead
          th(colspan=2) Component
          th Source
          th Message
          th Conclusion
          th Processed

        tbody
          each build, index in builds.hits.hits
            - var item = build._source;
            tr(data-target=`#build-item-${ index }`) 
              //- data-toggle="collapse"  class="accordion-toggle build-row"
              td
                span(class=`fas fa-fw fa-${ componentIcon(item.sender) }`)
              td #{ item.sender }
              td
                span.coordinates
                  span(class="org") #{ item.source.owner }
                  span(class="repo") #{ item.source.repo }
                  span(class="sha") #{ item.source.sha.substring(0,5) }
              td #{build._source.title}
              td 
                case build._source.checkStatus
                  when "passed"
                    span(class="badge badge-info") #{ item.checkStatus }
                  when "undecisive"
                    span(class="badge badge-dark") #{ item.checkStatus }
                  when "blocked"
                    span(class="badge badge-danger") #{ item.checkStatus }
                  when "analysis_failure"
                    span(class="badge badge-warning") #{ item.checkStatus }
                      
              td 
                if item.timestamp
                  . 
                    #{ moment(item.timestamp).fromNow() }
            tr
              td(colspan="5" class="detail-row")
                div(class="collapse build-detail" id=`build-item-${ index }`)


