extends base

block content
  div(class="container", id="app")
    each build in builds.hits.hits
      div(class="row build-item")
        div(class="build-icon col-md-1")
          span(class=`fas fa-shield-alt fa-3x fa-fw icon ${build._source.checkStatus.toLowerCase()}`)

        div(class="col-md-11 build-info")

          div(class="header")
            span(class="sender-name") #{build._source.sender}

            div(class="status") 
              span #{ build._source.checkStatus } 
              if build._source.timestamp
                span(class="timestamp") #{ moment(build._source.timestamp).fromNow() }
              endif

          div(class="coordinates")
            span(class="org") #{build._source.org}
            span(class="repo") #{build._source.repo}
            span(class="sha") #{ build._source.sha.substring(0,5) }
          span(class="badge badge-light branch") #{build._source.branch}
          

